@import "tailwindcss";

@theme inline {
  --color-primary-700: #121417;
  --color-primary-500: #9cabba;
  --color-primary-400: #e5e8eb;
  --color-primary-100: #ffffff;

  --color-blue-500: #3d99f5;

  --font-raleway: var(--font-raleway);
}

@utility button-gradient {
  background: linear-gradient(135deg, #1da28a, #256dab, #8149b7);
}
